@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

.delay-100 {
  animation-delay: 0.2s;
}
.delay-200 {
  animation-delay: 0.4s;
}
.delay-300 {
  animation-delay: 0.6s;
}
.delay-500 {
  animation-delay: 1s;
}
