@import "tailwindcss";

@theme{
  --animate-spin-slow: spin-slow 1s linear infinite;

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
